<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/header::header">
    <title>회원 정보 수정</title>
</head>
<body>
<div th:replace="fragments/memberNavigation::navigation(tab='member')"></div>
<div class="container">
    <form th:object="${editMyInfoDTO}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}"
                   class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}"></div>
            <div>
                <button class="idCheck" type="button" id="idCheck" onclick="fn_idCheck();" value="N">중복 확인</button>
            </div>
        </div>
        <div class="form-group">
            <label for="userName">이름</label>
            <input type="text" id="userName" th:field="*{userName}"
                   class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{userName}"></div>
        </div>
        <div class="form-group">
            <label for="phoneNumber">전화번호</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}"
                   class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{phoneNumber}"></div>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"></div>
        </div>
        <div>
            <a href="#" th:href="@{/myInfo/{loginId}/passwordChange (loginId=${loginId})}"
               class="w-100 btn btn-secondary btn-sm" role="button">비밀번호 변경하기</a>
            <p></p>
        </div>
        <div class="form-group">
            <label>나의 직무</label>
            <table class="table table-striped">
                <tr>
                    <th>직무 이름</th>
                    <th>직무 인센티브</th>
                </tr>
                <tr th:each="duty : *{duties}">
                    <td th:text="${duty.name}"></td>
                    <td th:text="${duty.incentive}"></td>
                </tr>
            </table>
            <p></p>
        </div>
        <div>
            <button type="submit" class="w-100 btn btn-primary btn-sm">수정</button>
            <p></p>
        </div>
        <div>
            <button class="w-100 btn btn-secondary btn-sm"
                    onclick="location.href='loginHome.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">취소</button>
        </div>
    </form>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
<script>
    function fn_idCheck() {
        $.ajax({
            url: "/members/new/idCheck",
            type: "POST",
            dataType: "JSON",
            data: {"loginId" : $("#loginId").val()},
            success: function(data) {
                if(data) {
                    alert("중복된 아이디입니다.");
                } else {
                    $("#idCheck").attr("value", "Y")
                    alert("사용 가능한 아이디입니다.");
                }
            }
        })
    }
</script>
</html>