<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/header::header">
    <title>메뉴 이미지 할당</title>
</head>
<body>
<div th:replace="fragments/memberNavigation::navigation('manager')"></div>
<div class="container" sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')">
    <form action="" th:action method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <input name="file" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-sm"
                        type="submit">추가</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-sm"
                        onclick="location.href='menuList.html'"
                        th:onclick="|location.href='@{/menu-management/{menuId} (menuId=${menuId})}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
<script>
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>