<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/header::header" >
    <title>메뉴 음식 할당</title>
</head>
<body>
<div class="container" sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')">
    <div th:replace="fragments/bodyHeader::bodyHeader"></div>
    <form action="" th:action th:object="${addRecipeMenuDTO}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div class="form-group">
            <label th:for="menuName">메뉴 이름</label>
            <input type="text" th:field="*{menuName}" class="form-control"
                   placeholder="메뉴 이름을 입력하세요" readonly>
        </div>
        <div>
            <label for="recipeId">음식 이름</label>
            <select id="recipeId" th:field="*{recipeId}" class="form-control">
                <option value="">음식 이름</option>
                <option th:each="recipe : ${recipes}"
                        th:value="${recipe.id}"
                        th:text="${recipe.name}">음식 이름</option>
            </select>
            <div class="field-error" th:errors="*{recipeId}"></div>
        </div>
        <div class="form-group">
            <label th:for="numberOfFood">음식 수량</label>
            <input type="number" th:field="*{numberOfFood}" class="form-control"
                   placeholder="음식 수량을 입력하세요">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-sm"
                        type="submit">추가</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-sm"
                        onclick="location.href='menuList.html'"
                        th:onclick="|location.href='@{/menu-management/{menuId} (menuId=${menuId})}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
</html>