<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/header::header" >
    <title>메뉴 추가</title>
</head>
<body>
<div class="container" sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')">
    <div th:replace="fragments/bodyHeader::bodyHeader"></div>
    <form th:action="@{/menu-management/new}" th:object="${createMenuDTO}" method="post">
        <div class="form-group">
            <label th:for="name">메뉴 이름</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="메뉴 이름을 입력하세요">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')"
                        type="submit" class="w-100 btn btn-primary btn-sm">확인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-sm"
                        onclick="location.href='menuList.html'"
                        th:onclick="|location.href='@{/menu-management}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
</html>