<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/header::header">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>레시피 수정</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader::bodyHeader"></div>
    <form th:object="${editRecipeDTO}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="recipeNumber">레시피 번호</label>
            <input type="text" id="recipeNumber" th:field="*{recipeNumber}"
                   class="form-control" th:errorclass="field-error" readonly>
            <div class="field-error" th:errors="*{recipeNumber}"></div>
        </div>
        <div>
            <label for="name">레시피 이름</label>
            <input type="text" id="name" th:field="*{name}"
                   class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}"></div>
        </div>
        <div>
            <label for="price">판매 가격</label>
            <input type="text" id="price" th:field="*{price}"
                   class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{price}"></div>
        </div>
        <!--        실시간으로 업데이트 가능하게 만들까?-->
        <!--        <div>-->
        <!--            <label for="unitPrice">단위 가격</label>-->
        <!--            <input type="text" id="unitPrice" th:field="*{unitPrice}"-->
        <!--                   class="form-control" th:errorclass="field-error">-->
        <!--            <div class="field-error" th:errors="*{unitPrice}"></div>-->
        <!--        </div>-->
        <div>
            <label for="weight">무게</label>
            <input type="text" id="weight" th:field="*{weight}"
                   class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{weight}"></div>
        </div>
        <div class="form-group">
            <label th:for="dishType">접시</label>
            <select th:field="*{dishType}" class="form-control">
                <option value="">접시</option>
                <option th:each="dishType : ${T(daepoid.stockManager.domain.recipe.DishType).values()}"
                        th:value="${dishType}"
                        th:text="${dishType}">option
                </option>
            </select>
            <div class="field-error" th:errors="*{dishType}"></div>
        </div>
        <div>
            <label th:for="ingredients">재료</label>
            <a href="#" th:href="@{/recipes/{id}/ingredients (id = *{id})}"
               class="w-100 btn btn-secondary btn-sm" role="button">재료 확인</a>
            <p></p>
        </div>
        <div>
            <label for="notes">주의</label>
            <textarea type="text" id="notes" th:field="*{notes}"
                   class="form-control" th:errorclass="field-error"></textarea>
            <div class="field-error" th:errors="*{notes}"></div>
        </div>
        <div>
            <button sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')"
                    type="submit" class="w-100 btn btn-primary btn-sm">수정</button>
        </div>
    </form>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
</html>