<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header::header">
    <title>관리자 레시피 리스트</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader::bodyHeader"></div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>레시피 이름</th>
                <th>가격</th>
                <th>단위 가격</th>
                <th>무게</th>
                <th>접시</th>
<!--                <th>ingredients</th>-->
<!--                <th>주의</th>-->
                <td>
                    <a href="/recipes/new" class="btn btn-primary" role="button">추가</a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.name}"></td>
                <td th:text="${recipe.price}"></td>
                <td th:text="${recipe.unitPrice}"></td>
                <td th:text="${recipe.weight}"></td>
                <td th:text="${recipe.dishType}"></td>
<!--                <td th:text="${recipe.ingredients}"></td>-->
<!--                <td th:textarea="${recipe.notes}"></td>-->
                <td>
                    <a href="#" th:href="@{/recipes/{id}/edit (id=${recipe.id})}"
                       class="w-100 btn btn-secondary btn-sm" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
</html>