<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header::header">
    <title>재료 리스트</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader::bodyHeader"></div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>레시피 이름</th>
                <th>수량</th>
                <th>단위 타입</th>
                <th>단위 가격</th>
                <th>로스율</th>
                <th>portionPrice</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ingredient : ${ingredients}">
                <td th:text="${ingredient.name}"></td>
                <td th:text="${ingredient.quantity}"></td>
                <td th:text="${ingredient.unitType}"></td>
                <td th:text="${ingredient.unitPrice}"></td>
                <td th:text="${ingredient.loss}"></td>
                <td th:text="${ingredient.portionPrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
</html>