<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    <head th:replace="fragments/header::header">
        <title>레시피 수정</title>
    </head>
    <body>
        <div th:replace="fragments/memberNavigation::navigation(tab='member')"></div>
        <div class="container">
            <form th:object="${editRecipeDTO}" method="post">
                <!-- id -->
                <input type="hidden" th:field="*{id}" />
                <div class="form-group col" >
                    <label th:for="menuImg">음식 사진</label>
                    <img src="/static/images/sample001.jpg"
                         th:src="@{images/sample001.jpg}"
                         alt="" th:width="320px" th:height="180px"/>
                    <a sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')"
                       th:href="@{/recipes/{recipeId}/image (recipeId=${recipeId})}"
                       class="w-100 btn btn-primary btn-sm" role="button">이미지 변경</a>
                </div>
                <div>
                    <label for="recipeNumber">레시피 번호</label>
                    <input type="text" id="recipeNumber" th:field="*{recipeNumber}"
                           class="form-control" th:errorclass="field-error" readonly>
                    <div class="field-error" th:errors="*{recipeNumber}"></div>
                    <p></p>
                </div>
                <div>
                    <label for="name">레시피 이름</label>
                    <input type="text" id="name" th:field="*{name}"
                           class="form-control" th:errorclass="field-error">
                    <div class="field-error" th:errors="*{name}"></div>
                    <p></p>
                </div>
                <div>
                    <label for="price">판매 가격</label>
                    <input type="number" id="price" th:field="*{price}"
                           class="form-control" th:errorclass="field-error">
                    <div class="field-error" th:errors="*{price}"></div>
                    <p></p>
                </div>
                <div>
                    <label for="weight">무게</label>
                    <input type="number" id="weight" th:field="*{weight}"
                           class="form-control" th:errorclass="field-error">
                    <div class="field-error" th:errors="*{weight}"></div>
                    <p></p>
                </div>
                <div class="form-group">
                    <label th:for="dishType">접시</label>
                    <select th:field="*{dishType}" class="form-control">
                        <option value="">접시</option>
                        <option th:each="dishType : ${T(daepoid.stockManager.domain.recipe.DishType).values()}"
                                th:value="${dishType}"
                                th:text="${dishType}">option
                        </option>
                    </select>
                    <div class="field-error" th:errors="*{dishType}"></div>
                    <p></p>
                </div>
                <div>
                    <label for="cost">코스트</label>
                    <input type="number" id="cost" th:field="*{cost}"
                           class="form-control" th:errorclass="field-error" readonly>
                    <div class="field-error" th:errors="*{cost}"></div>
                    <p></p>
                </div>
                <div>
                    <label for="netIncome">판매 이익</label>
                    <input type="number" id="netIncome" th:field="*{netIncome}"
                           class="form-control" th:errorclass="field-error" readonly>
                    <div class="field-error" th:errors="*{netIncome}"></div>
                    <p></p>
                </div>
                <div>
                    <label th:for="ingredients">재료</label>
                    <table class="table table-striped">
                        <tr>
                            <th>재료 이름</th>
                            <th>수량</th>
                            <th>단위</th>
                            <th>단위 가격</th>
                            <th>로스율</th>
                            <th>코스트</th>
                            <th>
                                <a sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')"
                                   th:href="@{/recipes/{recipeId}/ingredients/new (recipeId=${recipeId})}"
                                   class="w-100 btn btn-primary btn-sm" role="button">추가</a>
                            </th>
                            <th></th>
                        </tr>
                        <tr th:each="ingredient : *{ingredients}">
                            <td th:text="${ingredient.name}"></td>
                            <td th:text="${ingredient.quantity}"></td>
                            <td th:text="${ingredient.unitType}"></td>
                            <td th:text="${ingredient.unitPrice}"></td>
                            <td th:text="${ingredient.loss}"></td>
                            <td th:text="${ingredient.cost}"></td>
                            <td>
                                <a href="#" th:href="@{/recipes/{recipeId}/ingredients/{ingredientId} (recipeId=${ingredient.recipe.id}, ingredientId=${ingredient.id})}"
                                   class="w-100 btn btn-secondary btn-sm" role="button">수정</a>
                            </td>
                            <td>
                                <a href="#" th:href="'javascript:cancel(' +*{id}+ ','+${ingredient.id}+')'"
                                   class="w-100 btn btn-danger btn-sm">제거</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <label for="notes">주의</label>
                    <textarea type="text" id="notes" th:field="*{notes}"
                              class="form-control" th:errorclass="field-error"></textarea>
                    <div class="field-error" th:errors="*{notes}"></div>
                    <p></p>
                </div>
                <hr class="my-4">
                <div class="row">
                    <div class="col">
                        <button sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')"
                                type="submit" class="w-100 btn btn-primary btn-lg">수정</button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-secondary btn-lg"
                                onclick="location.href='recipeList.html'"
                                th:onclick="|location.href='@{/recipes}'|"
                                type="button">취소</button>
                    </div>
                </div>
            </form>
            <div th:replace="fragments/footer::footer"></div>
        </div> <!-- /container -->
    </body>
    <script>
        function cancel(recipeId, ingredientId) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/recipes/" + recipeId + "/" + ingredientId + "/cancel");
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</html>