<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/header::header">
    <title>관리자 레시피 리스트</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader::bodyHeader"></div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>레시피 이름</th>
                <th>가격</th>
                <th>무게</th>
                <th>단위 가격</th>
                <th>접시</th>
                <th>코스트</th>
                <th>판매 이익</th>
                <td>
                    <a sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')"
                       href="/recipes/new" th:href="@{/recipes/new}"
                       class="w-100 btn btn-primary btn-sm" role="button">추가</a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.recipeNumber}"></td>
                <td th:text="${recipe.name}"></td>
                <td th:text="${recipe.price}"></td>
                <td th:text="${recipe.weight}"></td>
                <td th:text="${#numbers.formatDecimal(recipe.price / recipe.weight, 0, 2)}"></td>
                <td th:text="${recipe.dishType}"></td>
                <td th:text="${recipe.cost}"></td>
                <td th:text="${recipe.netIncome}"></td>
                <td>
                    <a sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER', 'ROLE_CHEF', 'ROLE_COOK', 'ROLE_PART_TIME')"
                       href="#" th:href="@{/recipes/{recipeId} (recipeId=${recipe.id})}"
                       class="w-100 btn btn-secondary btn-sm" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
</html>