<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation(customerId, tab)">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#!" th:href="@{/}">Start Bootstrap</a>
      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item"><a class="nav-link " th:classappend="${tab == 'home'} ? active" aria-current="page" href="#!" th:href="@{/}">Home</a></li>
          <li class="nav-item"><a class="nav-link " th:classappend="${tab == 'about'} ? active" href="#!" th:href="@{/about}">About</a></li>
          <li class="nav-item dropdown" th:classappend="${tab == 'shop'} ? active">
            <a class="nav-link dropdown-toggle" id="shopNavbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
            <ul class="dropdown-menu" aria-labelledby="shopNavbarDropdown">
              <li><a class="dropdown-item" href="#!" th:href="@{/menus}">All Products</a></li>
              <li><hr class="dropdown-divider"/></li>
              <li><a class="dropdown-item" href="#!" th:href="@{/menus/popular}">Popular Items</a></li>
              <li><a class="dropdown-item" href="#!" th:href="@{/menus/new-arrivals}">New Arrivals</a></li>
            </ul>
          </li>

        <form class="d-flex">
          <a class="btn btn-outline-dark" href="#" th:href="@{/customers/{customerId}/order (customerId=${customerId})}">
            <i class="bi-cart-fill me-1"></i>
            장바구니
<!--            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>-->
          </a>
        </form>
        <form class="d-flex">
          <a class="btn btn-outline-dark" href="#" th:href="@{/customers/{customerId}/orders (customerId=${customerId})}">
            주문 내역
          </a>
        </form>
          <form class="d-flex" sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER', 'ROLE_CHEF', 'ROLE_COOK', 'ROLE_PART_TIME', 'ROLE_CUSTOMER')">
            <a class="btn btn-outline-dark" href="#" th:href="@{/logout}">
              test-logout
            </a>
          </form>
      </div>
    </div>
  </nav>

</html>