<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header::header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello</title>
</head>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader::bodyHeader"></div>
    <div class="jumbotron">
        <h1>재고 관리 시스템</h1>
        <p class="lead">회원 기능 (회원 가입과 목록은 관리자만 확인 가능)</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
        </p>
    </div>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
</html>