<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/header::header">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>레시피 수정</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader::bodyHeader"></div>
    <form th:object="${editDutyDTO}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="name">직무 이름</label>
            <input type="text" id="name" th:field="*{name}"
                   class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}"></div>
            <p></p>
        </div>
        <div>
            <label for="incentive">직무 인센티브</label>
            <input type="number" id="incentive" th:field="*{incentive}"
                   class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{incentive}"></div>
            <p></p>
        </div>
        <div>
            <button sec:authorize="hasAnyRole('ROLE_CEO', 'ROLE_MANAGER')"
                    type="submit" class="w-100 btn btn-primary btn-lg">수정</button>
            <p></p>
        </div>
        <div>
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='dutyList.html'"
                    th:onclick="|location.href='@{/duties}'|"
                    type="button">취소</button>
        </div>
    </form>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
</html>